@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

/* Placeholder for contenteditable */
[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: rgb(156 163 175); /* gray-400 */
  pointer-events: none;
}
